@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
/* MAIN CONTENT */
 body {
     background-color:#463E3f;
     color:#000000;
     font-family:'Montserrat', sans-serif;
     font-size:16px;
     letter-spacing:1px;

}

 html  {
     scroll-behavior: smooth;
}

 title {
     text-align: center;
}
 figure {
     padding-top: 10px;

}
 figcaption {
     color: #D3D3D3;
     font-weight: lighter;
     padding-bottom: 20px;
}
 img {
     width:70%;
}
 section {
     margin:100px 0;
     background-color:#463E3f;
}
section#descript {
    padding-top: 7rem;
    
}
section#descript img {
    width: 90%;

}
section#intro {
    padding-top: 8rem;
}
section#hist {
    padding-top: 15rem;
}
section#robyn {
    padding-top: 7rem;
}



 #intro img {
     padding-bottom: 20px;
     padding-top: 20px;
     width: 100%;

}
}
 #descript img {
     padding-bottom: 20px;
     padding-top: 20px;
     float: right;
     width: 100%;
}
 #hist img {
     padding-bottom: 20px;
     padding-top: 20px;
     float: right;
     width: 100%;

}
 #robyn img {
     padding-bottom: 20px;
     padding-top: 20px;
     padding-right: 20px;
     float: left;
     width: 100%;
}
#style img {

     width: 80%;
     padding-top: 30px;
     padding-bottom: 20px;
 }

 #descript figure{
     width: 60%;
     float: right;
     padding-left: 20px;
}

 #hist figure{
     width: 60%;
     float: right;
     padding-left: 20px;
}
 #robyn figure{
     width: 60%;
     float: left;
     padding-right: 20px;

}
#style figure {
    width: 60%;
    float: left;

    
    
    }

 header {
     background-color:#747170;
     height:120px;
     border: solid grey;
}
}
/* --------------END MAIN CONTENT----------*/
/* HEADINGS FONT SIZE POSITION */

 h1 {
     font-size: 45px;
     padding-bottom: 40px;
     font-style: italic;
     font-color: black;
}

 h2 {
     font-size:40px;
     text-align:center;
     padding-bottom:20px;
     padding-top:20px;
}
 h3 {
     font-size:30px;
}
 h2,h3 {
     letter-spacing:2px;
     font-style:italic;
     border-bottom:1px solid white;
}
 h1,h2,h3 {
     color: white;
}
 ul {
     list-style:circle;
     color:white;
     letter-spacing:1px;
     padding-bottom:3px;
}
 p {
     color:white;
     letter-spacing:1px;
     line-height:30px;
     margin:20px 0;
}
 li {
     color:white;
     letter-spacing:1px;
     line-height:30px;
     margin:20px 0;
}
/*---------------------*/
/* NAVIGATION SECTION */
 nav {
     position:sticky;
}
 nav ul li {
     display:inline-block;
     color:black;
     padding-right: 30px;
     padding-left: 20px;
     
}
 nav ul {
     text-align:right;
     margin: 0;
}
 a {
     color: black;
     text-decoration: none;
     box-shadow: inset 0 0 0 0 #95A5A6 ;
     -webkit-transition: ease-out 0.4s;
     -moz-transition: ease-out 0.4s;
     transition: ease-out 0.4s;
}
 a:hover {
     box-shadow: inset 400px 0 0 0 white;
}
/* -----------------------*/
/* FOOTER CODE */

 footer ul li {
     display:inline-block;
     padding-left: 80px;
     padding-bottom: 30px;
}
 footer,main {
     background-color:#463E3f;
}
/*------------------------*/
/* CLASSES */
 .sticky-header {
     position:sticky;
     top:0;
}
 .wrapper {
     width:1000px;
     margin:0 auto;
}
 .logo {
     float:left;
     text-align: center;
     display: none;
     max-width: 30%;
     background: grey;
   
}
.logo h2 {
    font-style: none;
    color: black;
    font size: 10px;
    border-bottom: unset;
}
/*-----------------------*/
/* MEDIA QUIRIES */
@media screen and (min-width: 550px) {
 .wrapper {
    width: 550px;
    margin: 0 auto;
 }


nav ul li {
         display:block;
         float:right;
         padding-left: 30px;
         padding-top: 30px;
         padding-right: 0px;
         font-size: 15px;
     
 
}


@media screen and (min-width: 650px) { 
     .wrapper {
         width: 650px;
         margin: 0 auto;
    }
     title {
         max-width: 650px;
    }
     
     nav ul li {
         display:block;
         float:right;
         padding-left: 40px;
         padding-top: 30px;
         padding-right: 5px;
         font-size: 10px;

}
 @media screen and (min-width: 750px){
     .wrapper {
         width: 750px;
         margin: 0 auto;
    }
     title {
         max-width: 100%;
    }
     nav ul li {
         display:block;
         float:right;
         padding-left: 30px;
         padding-top: 30px;
         padding-right: 0px;
         font-size: 15px;
    }
  
     @media screen and (min-width: 1000px){
         .warpper {
             width: 1000px;
             margin: 0 auto;
        }
         nav ul li {
             display:inline-block;
             padding-left: 20px;
             padding-top: 30px;
             padding-right: 0px;
             font-size: 15px;
        }

        .logo {
            display: unset;
            float: left;
            max-width: 20%;

        }

       .logo h2 {
        font-size: 30px;
       }
       
         @media screen and (min-width: 1200px) {
             .wrapper {
                 width: 1200px;
                 margin: 0 auto;
            }
             title {
                 max-width: 100%;
            }
             nav ul li {
                 display:inline-block;
                 color:black;
                 padding-left: 10px;
                 padding-top: 30px;
                 padding-right: 5px;
                 font-size: 15px;
            }

        .logo {
            display: unset;
            float: left;
            
        }
        }

        @media screen and (min-width: 1300px) {
        .wrapper {
            width: 1300px;
            margin: 0 auto
        }
        nav ul li {
                 display:inline-block;
                 color:black;
                 padding-left: 30px;
                 padding-top: 30px;
                 padding-right: 10px;
                 font-size: 20px;

 /* -----------END OF CODE---------------*/ 

